.editor {
    width: 100%;
    display: flex;
}

.scroll_area {
    margin: 0;
    width: 10px;
    background-color: #C1C1C1;;
}

.slide_area {
    height: calc(100vh - 65px);
    width: calc(100vw - 350px);
    background-color: #ffffff;
}