/* todo: изменить бэм имена на то, что поддерживает eslint
   разбить все стили и компоненты на разные части
*/
.navbar {
  background-color: #fff;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info__menubar {
  display: flex;
  gap: 5px;
}

.info__main {
  display: flex;
  gap: 25px;
}

.info__tools {
  display: flex;
  gap: 5px;
  border: solid #000;
  padding: 2px;
}

.borderindent {
  width: 1px;
  background-color: #000;
  height: 15px;
}

.active:active {
  border: solid blue;
}
