.list {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.child {
  position: relative;
  width: 90%;
  height: 180px;
  top: 0;
  border: solid;
}

.slider {
  position: relative;
  background-color: white;
  width: 20%;
}
