.slider {
	position: relative;
	background-color: #c1c1c1;
	width: 23vw;
	height: 97vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.list {
	list-style: none;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	margin-top: 10px;
}

.child {
	position: relative;
	width: 15vw;
	height: 16vh;
	top: 0;
	border: 3px solid black;
	border-radius: 10px;
	background-color: white;
	overflow: hidden;
}

.scroll_area {
	margin: 0;
	width: 10px;
	background-color: #c1c1c1;
}

.slider::-webkit-scrollbar-track {
	margin-right: 18px;
	margin-top: 21px;
	margin-bottom: 20px;
	border-radius: 10px;
	width: 10px;
	background-color: transparent;
	border: 2px solid #565656;
	box-sizing: border-box;
	padding-right: 10px;
}

.slider::-webkit-scrollbar {
	width: 10px;
	background-color: #c1c1c1;
}

.slider::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #565656;
}

.slider::-webkit-scrollbar-thumb:hover {
	transition: 10ms;
	border-radius: 10px;
	background-color: #3f3f3f;
	width: 25%;
}
