.buttontools {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	background: none;
}

.buttontools:active {
	transition: 0.01s;
	width: 30px;
	height: 30px;
	margin: 5px 5px 5px 5px;
}
