.buttontools {
  padding-top: 3px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: none;
}

.buttontools:active {
  transition: 0.1s;
  width: 30px;
  height: 30px;
  margin: 7px 7px 7px 7px;
}