* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.editor {
  width: 100%;
  display: flex;
}

.slider {
  position: relative;
  background-color: white;
  width: 20%;
}

.pos {
  position: absolute;
}